.pendente svg {
    color: red;
}

.verificado svg {
    color: green;
}

.lista-veiculos {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.container-pesquisa input{
    background-color: aliceblue;
    color: black;
    width: 250px;
    height: 1.3rem;
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 4px;
}